:root {
    --card-height: 25.4375rem;
}
body {
    background-color: #f0f0f0;
    font-family: Roboto;
    padding-top: 6.3125rem;
}
.row,
.card-text,
.card-title {
    margin: 0;
}
.col-sm-6,
.container {
    padding: 0;
}

.card {
    border: none;
    height: var(--card-height);
}
.side-img {
    max-width: 100%;
    height: var(--card-height);
    object-fit: cover;
}
.card-body {
    padding: 5.375rem 6.875rem;
}
.card-title,
.card-text {
    color: #121212;
}
.card-title {
    font-size: 2.625rem;
    padding-bottom: 2.6875rem;
}
.card-text {
    padding-bottom: 2.1875rem;
}
.custom-btn {
    background-color: #e4c1ae;
    border-radius: 2rem;
    height: 2.9375rem;
    width: 8.4375rem;
}

@media (max-width: 991.5px) {
    .card-body {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 4rem;
    }
}

@media (max-width: 767.5px) {
    .card-body {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .card-title {
        font-size: 2.25rem;
        padding-bottom: 1.5rem;
    }
}
@media (max-width: 575px) {
    .card,
    .side-img {
        height: auto;
    }
    .card-body {
        padding-top: 1.25rem;
    }
}
